$butternut: #F9BD62;
$blue: #68DFD8;
$bluer: #164660;
$corny: #F4E07F;

body {
  margin: 0;
  padding: 0;
  font-family: zeitung, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container {
  margin: 0;
  padding: 30px;
  width: 102%;
  background-color: lighten($corny, 30%);
  background-image: url("bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#customize {
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 90%;
    select, input {
      max-height: 100%;
      border-radius: 5px;
      border: 1pt dashed $butternut;
      color: $butternut;
      font-weight: 700;
      opacity: 100%;
    }
    select {
      flex: 20%;
    }
    input {
      flex: 40%;
    }
    p:nth-child(1) {
      flex: 20%;
    }
  }
}

#content {
  display: flex;
}

#header {
  max-width: 47.5%;
  color: $bluer;
  font-weight: 500;
  .titlecontainer {
    width: 100%;
    height: 20vh;
    background-image: url("title.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  p {
    max-width: 80%;
    margin-left: 5%;
    font-size: 18pt;
  }
}

#left {
  font-size: 12pt;
  margin-left: 5%;
  color: $bluer;
  flex: 20%;
  max-width: 40%;
  button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $blue;
    color: $bluer;
    font-weight: 700;
    border: none;
    font-size: 18pt;
    margin-top: 15px;
    float: right;
  }
}

#right {
  box-sizing: border-box;
  flex: 20%;
  position: relative;
  bottom: 20vh;
  max-width: 30%;
  margin-left: 10%;
  margin-right: 5%;
  padding: 20px 30px;
  border-radius: 30px;
  border-bottom-right-radius: 50px;
  background-color: lighten($corny, 40%);

  box-shadow: -3px 5px 10px adjust-color($bluer, $alpha: -0.8);
  #recipe {
    padding: 10px 20px;
    border-radius: 30px;
    border-bottom-right-radius: 50px;
    border-bottom: 2pt solid $butternut;
    border-right: 2pt solid $butternut;
    h2 {
      color: $blue;
      font-weight: 800;
    }
    ol {
      li {
        color: $bluer;
        &:before {

          height: 20px;
          width: 20px;
          border-radius: 100%;
          text-align: center;
          position: absolute;
          left: 0;
          top: 4px;
          &:nth-child(2n) {
            background-color: $butternut;
          };
          &:nth-child(2n+1) {
            background-color: $corny;
          }
        }
      }
    }
  }
}

#footer {
  position: absolute;
  right: 5px;
  bottom: 3px;
}

@media (max-width: 600px) {
  #header {
    max-width: 85%;
  }
  #content {
    display: block;
    #left {
      max-width: 85%;
      margin: auto;
      margin-left: auto;
      margin-right: auto;
      #customize {
        form {
          display: block;
        }
      }
      button {
        margin: auto;
        float: none;
      }
    }
    #right {
      bottom: 0px;
      max-width: 85%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }
  }
}
